.blood {
  color: var(--logo-color);
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blood::before {
  content: "";
  background-color: #ff4f4f55;
  width: 40px;
  height: 40px;
  position: absolute;
 /* creating the blood blob */
  border-radius: 50%;
  border-top-right-radius: 0;
  transform: rotate(-45deg);
}
