header {
  text-align: center;
  margin: 0 auto 70px;
  width: 90%;
  max-width: 500px;
}

header h1 {
  margin-bottom: 70px;
}

.logo {
  width: 120px;
  margin: 70px 0;
}

header p {
  font-size: 14px;
}
