:root {
  --logo-color: #ff4f4f;
  --background-color-page: #f9f9f9;
  --text-color: #ffffffee;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color-page);
}

h1, h2 {
  color: #000000cc;
}

h2:hover {
  color: var(--logo-color);
}

.hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin-top: -70px;
}

button {
  cursor: pointer;
}
